<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 设置mybatis3 运行时的行为方式 -->
    <settings>
        <!-- 设置超时时间，它决定驱动等待一个数据库响应的时间 -->
        <setting name="defaultStatementTimeout" value="60000"/>
        <!-- 启用或禁用 缓存 -->
        <setting name="cacheEnabled" value="false"/>
        <!-- 启用或禁用延迟加载。当禁用时, 所有关联对象都会即时加载 -->
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="logImpl" value="LOG4J"/>
    </settings>
</configuration>